<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>PhD Friends!</title>

    <script src="assets/js/jquery.min.js" type="text/javascript"></script>

    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>

    <script src="assets/js/main.js" type="text/javascript"></script>

    <style>
        #guesses li { padding: 10px; }
        .row > div {padding-top:10px;}
        #face { width: 192px; display:block; margin: auto }
        body { padding-bottom:20px; }
    </style>
</head>
<body>
    <div class="container">
        <h1>PhD Friends!  <small>Guess that name!</small></h1>

        <div class="row">
            <div class="col-md-4">
                Score: <span id="score"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img id="face"></img>
            </div>
            <div class="col-md-9">
                <ul id="guesses" class="list-unstyled"></ul>
            </div>
        </div>

        <div id="guess-input" class="row">
            <div class="col-md-6">
                <input id="guessed-name" type="text" class="form-control">
            </div>
            <div class="col-md-6">
                <button id="make-guess" class="btn btn-primary">
                    Guess
                </button>

                <button id="give-up" class="btn">Give Up</button>

                <div class="btn-group">
                    <button id="new-list" class="btn btn-default">
                        New List
                    </button>
                    <button id="list-length"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul id="list-length-options"
                        class="dropdown-menu" role="menu">
                        <li><a href="#">10</a></li>
                        <li><a href="#">25</a></li>
                        <li><a href="#">50</a></li>
                        <li><a href="#">100</a></li>
                        <li><a href="#">all</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
